body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  
}

.nav-bar{
  background: green;
}

.nav-bar #homepage{
  padding-left: 260px;
}

.bar-rec{
  width: 250px;
  height:auto;
  background: #D9F0E5;
  padding-left: 10px;
}

.bar-rec .setting{
  padding-top: 500px;
}

